# Analisa Data Film dan Acara TV

In [ ]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# Membaca data dari file CSV ke dalam dataframe menggunakan pandas
data_file = '/content/drive/MyDrive/data analyst/amazon_prime_titles.csv'

df = pd.read_csv(data_file)

In [ ]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...
...,...,...,...,...,...,...,...,...,...,...,...,...
9663,s9664,Movie,Pride Of The Bowery,Joseph H. Lewis,"Leo Gorcey, Bobby Jordan",NaN,NaN,1940,7+,60 min,Comedy,New York City street principles get an East Si...
9664,s9665,TV Show,Planet Patrol,NaN,"DICK VOSBURGH, RONNIE STEVENS, LIBBY MORRIS, M...",NaN,NaN,2018,13+,4 Seasons,TV Shows,"This is Earth, 2100AD - and these are the adve..."
9665,s9666,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",NaN,NaN,2008,R,90 min,Action,"In war-torn Eastern Europe, a world-weary grou..."
9666,s9667,TV Show,Maradona: Blessed Dream,NaN,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",NaN,NaN,2021,TV-MA,1 Season,"Drama, Sports","The series tells the story of Diego Maradona, ..."
9667,s9668,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,NaN,2010,R,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w..."

In [ ]:
# Melihat beberapa baris pertama dari dataframe
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [ ]:
# Melihat informasi umum tentang dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
dtypes: int64(1), object(11)
memory usage: 906.5+ KB

In [ ]:
# Statistik deskriptif untuk kolom numerik
df.describe()

       release_year
count   9668.000000
mean    2008.341849
std       18.922482
min     1920.000000
25%     2007.000000
50%     2016.000000
75%     2019.000000
max     2021.000000

In [ ]:
# Menampilkan jumlah unik dari tiap kolom
df.nunique()

show_id         9668
type               2
title           9668
director        5774
cast            7927
country           86
date_added        84
release_year     100
rating            24
duration         219
listed_in        518
description     9414
dtype: int64

In [ ]:
# Menampilkan jumlah film dan acara TV dalam dataset
num_movies = df[df['type'] == 'Movie'].shape[0]
num_tv_shows = df[df['type'] == 'TV Show'].shape[0]
print(f"Jumlah Film: {num_movies}")
print(f"Jumlah Acara TV: {num_tv_shows}")

Jumlah Film: 7814
Jumlah Acara TV: 1854

In [ ]:
# Menggunakan .str.replace() untuk menghilangkan "min" dari kolom 'Duration'
data = df['duration'] = df['duration'].str.replace('min', '').str.strip()
data = df['duration'] = df['duration'].str.replace('Season', '').str.strip()
data = df['duration'] = df['duration'].str.replace('Seasons', '').str.strip()
data

0       113
1       110
2        74
3        69
4        45
       ...
9663     60
9664      4
9665     90
9666      1
9667    103
Name: duration, Length: 9668, dtype: object

In [ ]:
# Menghapus teks "min" dari kolom 'Duration' dan mengubah menjadi tipe data numerik (integer)
df['duration'] = df['duration'].str.replace('min', '').astype(int)

# Menghitung rata-rata durasi film dari kolom 'Duration'
average_duration = df['duration'].mean()

print("Rata-rata durasi film:", average_duration, "min")

Rata-rata durasi film: 74.1317749275962 min

In [ ]:
# Mengurutkan DataFrame berdasarkan kolom "Rating" secara menurun (descending)
sorted_df = df.sort_values(by='rating', ascending=False)

# Mengambil 10 film dengan rating tertinggi
top_10_movies = sorted_df.head(10)
top_10_movies['title']

8156    Big Mommas: Like Father, Like Son (Extended Cut)
5763                                         Toxic Shark
5129                                    All Hallows' Eve
5817                                         Eruption LA
7998                                             The Boy
4406                               Stranger in the House
7831                                      Unwanted Guest
4715                                             Seduced
9437                                       Open Marriage
9456                                     Driven to Dance
Name: title, dtype: object

In [ ]:
# Menampilkan hanya data TV Shows
tv_shows_data = df[df['type'] == 'TV Show']

# Mengurutkan DataFrame berdasarkan kolom "Duration" secara menurun (descending)
sorted_tv_shows = tv_shows_data.sort_values(by='duration', ascending=False)

# Mengambil 10 acara TV dengan durasi terpanjang
top_10_tv_shows = sorted_tv_shows.head(10)

top_10_tv_shows

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
770,s771,TV Show,The Amazing Race,NaN,Phil Keoghan,NaN,NaN,2017,TV-PG,29,TV Shows,"In a brand new twist, all 22 Racers are comple..."
1007,s1008,TV Show,Silent Witness,NaN,"Emilia Fox, Richard Lintern, David Caves",NaN,NaN,2018,TV-MA,21,"Drama, Suspense",The award-winning crime drama returns with fiv...
840,s841,TV Show,Survivor,NaN,Jeff Probst,NaN,NaN,2014,TV-PG,19,Unscripted,"This edition, filmed in Cagayan, a province in..."
8071,s8072,TV Show,Top Gear (UK),NaN,"Matt Leblanc, Chris Harris, Rory Reid",NaN,"September 2, 2021",2018,TV-14,15,"Comedy, Documentary, Special Interest","Matt LeBlanc, Chris Harris, Rory Reid and The ..."
3291,s3292,TV Show,America's Next Top Model,NaN,"Tyra Banks, Nigel Barker, André Leon Talley",NaN,NaN,2010,TV-14,14,Unscripted,America's Next Top Model welcomes one of the m...
4125,s4126,TV Show,Paula's Best Dishes,NaN,NaN,NaN,NaN,2002,TV-G,14,Special Interest,America's favorite Southern cook Paula Deen re...
8977,s8978,TV Show,My Magic Pet Morphle - Adventures of Mila & Mo...,NaN,NaN,NaN,"September 29, 2021",2021,ALL,14,"Animation, Kids",Morphle can morph into anything his human comp...
3005,s3006,TV Show,Bones,NaN,"Emily Deschanel, David Boreanaz, Michaela Conlin",NaN,NaN,2017,NR,12,"Drama, Suspense",The 12-episode run will celebrate the inventiv...
9635,s9636,TV Show,Pokémon the Series: Diamond and Pearl,NaN,Ikue Ohtani,NaN,"October 10, 2021",2011,ALL,12,"Animation, Kids","Ash, Dawn, and Brock continue to travel across..."
1358,s1359,TV Show,Paula's Home Cooking,NaN,NaN,NaN,NaN,2002,TV-G,12,Special Interest,"Meet Paula Deen, a woman who literally went fr..."

In [ ]:
# Menghitung frekuensi masing-masing genre
genre_counts = df['listed_in'].str.split(', ').explode().value_counts()

# Mengambil top 3 genre yang paling sering muncul
top_3_genres = genre_counts.nlargest(5)

print("Top 3 genre paling sering muncul:")
top_3_genres

Top 3 genre paling sering muncul:

Drama       3687
Comedy      2099
Action      1657
Suspense    1501
Kids        1085
Name: listed_in, dtype: int64