# **Menghitung banyak nasabah yang berpotensi melakukan klaim disuatu perusahaan asuransi**

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

data = pd.read_csv('/content/insurance.csv')
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
# Filter data nasabah perempuan yang merokok
nasabah_perempuan_merokok = data[(data['sex'] == 'female') & (data['smoker'] == 'yes')]

# Tampilkan data nasabah perempuan yang merokok
print(nasabah_perempuan_merokok)

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
11     62  female  26.290         0    yes  southeast  27808.72510
23     34  female  31.920         1    yes  northeast  37701.87680
58     53  female  22.880         1    yes  southeast  23244.79020
64     20  female  22.420         0    yes  northwest  14711.74380
...   ...     ...     ...       ...    ...        ...          ...
1308   25  female  30.200         0    yes  southwest  33900.65300
1313   19  female  34.700         2    yes  southwest  36397.57600
1314   30  female  23.655         3    yes  northwest  18765.87545
1323   42  female  40.370         2    yes  southeast  43896.37630
1337   61  female  29.070         0    yes  northwest  29141.36030

[115 rows x 7 columns]

In [ ]:
# Jumlahkan biaya merokok untuk nasabah perempuan yang merokok
total_biaya_merokok = nasabah_perempuan_merokok['bmi'].mean()

# Tampilkan jumlah biaya yang harus disiapkan
print("Total biaya untuk membayar nasabah perempuan yang merokok:", total_biaya_merokok)

Total biaya untuk membayar nasabah perempuan yang merokok: 29.60826086956522

In [ ]:
# Filter nasabah yang berusia 64 tahun dan memiliki 1 orang anak
nasabah = data[(data['age'] == 64) & (data['children'] == 1)]

# Tampilkan nasabah yang berusia 64 tahun dan memiliki 1 orang anak
print(nasabah)

     age     sex    bmi  children smoker     region      charges
62    64    male  24.70         1     no  northwest  30166.61817
328   64  female  33.80         1    yes  southwest  47928.03000
418   64    male  39.16         1     no  southeast  14418.28040

In [ ]:
# Filter data nasabah berdasarkan wilayah yang mengandung kata "north"
nasabah_di_north = data[data['region'].str.contains('north', case=False)]

# Tampilkan nasabah yang berada di wilayah yang mengandung kata "north"
print(nasabah_di_north)

      age     sex     bmi  children smoker     region      charges
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
7      37  female  27.740         3     no  northwest   7281.50560
8      37    male  29.830         2     no  northeast   6406.41070
9      60  female  25.840         0     no  northwest  28923.13692
...   ...     ...     ...       ...    ...        ...          ...
1326   42  female  32.870         0     no  northeast   7050.02130
1328   23  female  24.225         2     no  northeast  22395.74424
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1337   61  female  29.070         0    yes  northwest  29141.36030

[649 rows x 7 columns]

In [ ]:
# Jumlahkan nasabah yang berada di wilayah yang mengandung kata "north"
total_biaya_region = nasabah_di_north['bmi'].mean()

# Tampilkan nasabah yang berada di wilayah yang mengandung kata "north"
print("Total region:", total_biaya_region)

Total region: 29.186664098613253

In [ ]:
# Filter data nasabah laki-laki perokok dengan usia lebih dari 50 tahun
nasabah_laki_perokok_usia_lebih_50 = data[(data['sex'] == 'male') &
                                         (data['smoker'] == 'yes') &
                                         (data['age'] > 50)]

In [ ]:
nasabah_laki_perokok_usia_lebih_50['BMI_Baru'] = nasabah_laki_perokok_usia_lebih_50['bmi'] - 1.5

<ipython-input-22-d357e0f0790a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nasabah_laki_perokok_usia_lebih_50['BMI_Baru'] = nasabah_laki_perokok_usia_lebih_50['bmi'] - 1.5

In [ ]:
# Hitung rata-rata BMI_Baru
rata_rata_bmi_baru = nasabah_laki_perokok_usia_lebih_50['BMI_Baru'].mean()

# Tampilkan rata-rata BMI_Baru
print("Rata-rata BMI baru untuk nasabah laki-laki perokok dengan usia lebih dari 50 tahun:", rata_rata_bmi_baru)

Rata-rata BMI baru untuk nasabah laki-laki perokok dengan usia lebih dari 50 tahun: 30.690405405405407